.drawer {
    width: 100%;
    max-width: 600px;
}
.planet{
    height: 64px;
    width: 64px
}
.drawerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 16px;
}
.menu {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--orangeLight);
    border-radius: 16px;
    background-color: var(--black);
}
.links{
    display: flex;
    flex-direction: column;
}
.menuClose {
    padding: 4px;
    width: min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.menuItem {
    font-size: 36px;
    list-style-type: none;
    font-weight: 600;
    width: min-content;
    color: var(--black);
    border-bottom: 3px solid var(--black);
    margin: 16px;
    margin-left: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.drawerIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 16px;
    margin-top: 32px;
}

@media screen and (max-width: 350px) {
    .menuItem{
        margin: 8px; 
    }
    .drawerIconContainer {
        margin-top: 24px;
    }
}
