.container{
    height: 250px;
    width: 100vw;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
}
.name{
    font-size: 48px;
    margin: 0;
    background: var(--orangeGradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--orangeShadow)
}
.title{
    font-size: 32px;
    margin: 0;
    font-weight: 500;
    color: var(--white);
}
.line{
    margin-left: 24px;
    margin-right: 24px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 1100px) {
    .container{
        height: 320px;
    }
    .right{
        flex-direction: column;
    }
    .line{
        margin: 32px 0;
    }
}

@media screen and (max-width: 800px) {
    .container {
        height: 600px;
        align-items: flex-start;
    }
    .container {
        flex-direction: column-reverse;
    }
    .right{
        margin-bottom: 50px;
    }
    .name{
        text-align: center;
    }
}
