.button {
    border-radius: 12px;
    border-width: 5px;
    padding-left: 36px;
    padding-right: 36px;
    font-weight: 600;
    font-size: 18px;
    height: 54px;
    color: var(--orange);
    background-color: var(--black);
    border: 5px solid var(--orange);
    cursor: pointer;
    font-family: inherit;
    box-sizing: border-box;
    filter: var(--orangeDropShadow)
}