.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    filter: var(--whiteDropShadow);
    border-radius: 12px;
}