.container{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}
.inputWrapper{
    position: relative;
    height: 54px;
    width: 250px;
}
.input{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 250px;
    border: 5px solid var(--orange);
    border-radius: 12px;
    background-color: var(--black);
    transition: .2s ease-out all;
    cursor: pointer;
    overflow: hidden;
    filter: var(--orangeDropShadow);
    -webkit-tap-highlight-color: transparent;
}
.labelContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
}
.label {
    margin: 0;
    color: var(--orangeLight);
    background-color: var(--black);
    font-weight: 600;
    font-family: Montserrat, 'sans-serif';
    font-size: 16px;
}
.icon{}
.divider{
    height: 2px;
    width: 100%;
    background-color: var(--orangeLight);
}
.optionContainer {
    height: 196px;
    padding-top: 8px;
    padding-left: 12px;
    overflow-y: scroll;
}
.optionContainer::-webkit-scrollbar {
    width: 8px;
}
.optionContainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
.optionContainer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
}
.optionLabel{
    font-weight: 500;
    color: var(--orangeLight);
    width: 100%;
    margin: 0;
    color: var(--orangeLight);
    font-weight: 500;
    font-family: Montserrat, 'sans-serif';
    font-size: 16px;
}
.chip {
    margin-top: 2px;
    height: 48px;
}
.placeholder {
    font-style: italic;
    color: var(--orangeLight);
    font-weight: 500;
    padding-left: 4px;
}

@media screen and (max-width: 600px) {
    .inputWrapper{
        width: calc(100vw - 32px)
    }
    .input{
        width: calc(100vw - 32px)
    }
    .placeholder{
        margin: 8px 0;
    }
    .container{
        gap: 16px;
    }
}