.container {
    width: 100vw;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    background-image: url('/background-one.svg');
    background-color: var(--black);
    background-position: top right;
    background-repeat: repeat;
}
.header {
    padding-left: 32px;
    display: flex;
    align-items: center;
    
}
.headerText {
    margin: 0;
    font-size: 48px;
    margin-left: 24px;
    color: var(--white);
    background-color: var(--black);
}
.filterSection{
    margin: 24px 40px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    padding: 24px 40px;
}

@media screen and (max-width: 900px) {  
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        padding-left: 24px
    }
}
@media screen and (max-width: 600px){
    .grid {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header{
        margin-bottom: 24px;
    }
    .filterSection{
        margin: 24px 16px 0px;
    }
}
@media screen and (max-width: 550px) {
    .container{
        padding-top: 32px;
    }
    .header {
        padding-left: 16px
    }
    .planet{
        height: 64px;
        width: 64px;
    }
    .headerText {
        background-color: var(--black);
        border-radius: 100%;
        font-size: 36px;
        margin-left: 16px;
    }
}

