.container{
    min-height: calc(100vh - 250px);
    box-sizing: border-box;
    padding: 16px 24px 32px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/background-one.svg');
    background-color: var(--black);
    background-position: top right;
}
.main{
    max-width: 1500px;
    margin-top: 48px;
    column-gap: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.left{
    justify-self: center;
}
.leftContent{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subtitle{
    color: var(--white);
    font-size: 32px;
    margin: 0px;
    margin-bottom: 24px;
    background-color: var(--black);
}

.text{
    font-size: 20px;
    color: var(--white);
    background-color: var(--black);
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 3px solid var(--orangeLight);
    margin: 0;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    height: 100%;
    width: 90%;
    max-width: 600px;
    background-color: var(--black);
    border: 5px solid var(--orange);
    border-radius: 12px;
    padding: 24px;
    filter: var(--orangeDropShadow);
}

.input{
    width: 100%;
    margin-bottom: 16px;
}

.message{
    height: 200px;
    margin-bottom: 16px;
}


@media screen and (max-width: 1050px) {
    .container{
        padding: 16px 24px 48px;
    }
    .form{
        width: 95%
    }
    .left{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 850px) {
    .container {
        padding: 16px 16px 48px;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left {
        display: flex;
        justify-content: center;
    }
    .leftContent {
        align-items: center;
    }
    .text {
        text-align: center;
    }
    .right{
        width: 100%;
        margin-top: 48px;
    }
    .form {
        width: 100%
    }
}
