@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--black);
  }
}


:root{
  --black: #252523;
  --white: #F4F4F4;
  --gray: #AFAEAE;
  --orange: #F0903F;
  --orangeLight: #FFB680;
  --orangeGradient: linear-gradient(180deg, #F0903F 0%, #FFB680 100%);
  --orangeShadow: 0px 2px 12px rgba(240, 144, 63, 0.4);
  --orangeDropShadow: drop-shadow(0px 2px 12px rgba(240, 144, 63, 0.4));
  --red: #f05c3f
}

.frsb{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}