.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url('../public/landing-page-background-desktop.svg');
  background-color: var(--black);
  background-position: top right;
}
.main{
  height: 100vh;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left{
  flex: 1;
  max-width: 50vw;
  box-sizing: border-box;
  margin-left: 5vw;
  margin-right: 5vw;
}
.mainText{
  max-width: 500px;
  font-size: 48px;
  font-weight: 600;
  color: var(--white);
}
.textGradient{
  background: var(--orangeGradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--orangeShadow)
}
.CTA {
  margin-right: 24px;
  margin-bottom: 24px;
}
.scrollDownButton{
  position: absolute;
  bottom: 5vh;
}

.buttonContainer{
  display: flex;
}
.planet {
  position: absolute;
  top: 24px;
  left: 24px
}

.right{
  box-sizing: border-box;
  position: relative;
  height: 80vh;
  width: 45vw;
}

@media screen and (min-width: 1500px) {
  .container {
    background-size: 100% auto;
  }
}

@media screen and (max-width: 1200px) {
  .right{
    width: 35vw;
    margin-right: 5vw
  }
}

@media screen and (max-width: 950px) {
  .main{
    justify-content: center;
    padding: 24px;
  }
  .mainText {
    text-align: center;
  }
  .left{
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: none;
  }
  .right {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .mainText{
    font-size: 40px;
  }
  .buttonContainer{
    flex-direction: column;
    align-self: start;
    width: 100%;
  }
  .CTA{
    margin-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  .mainText {
    text-align: left;
  }
  .container {
    padding: 16px;
  }
}